.attribution {
    font-size: 11px;
    text-align: center;
    margin-bottom: 10px;
  }
  .attribution a {
    color: hsl(228, 45%, 44%);
  }

  html, body, p, h1, h2, ul, li {
      margin: 0;
      padding: 0;
    }
    
html, body {
    width: 100%;
    height: 100%;
}

body {
    font-family: 'Spartan', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: hsl(303, 10%, 53%);
    background: url("images/bg-pattern-top-desktop.svg") no-repeat, url("images/bg-pattern-bottom-desktop.svg") no-repeat right bottom;
}

li {
    list-style-type: none;
}

h1 {
    font-size: 3em;
    color: hsl(300, 43%, 22%);
}

.spacer {
    flex-grow: 1;
    width: 5px;
}
.main-container {
    display: flex;
    flex-direction: column;
    max-width: 1100px;
}

.main-container--top {
    display: flex;
    justify-content: space-between;
}

.main-container--top--left {
    max-width: 400px;
}

.main-container--top--left p {
    margin-top: 15px;
}

.rating-list {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
}

.rating-list li{
    display: flex;
    padding: 20px 25px;
    width: 400px;
    color: hsl(300, 43%, 22%);
    font-weight: bold;
    background-color: hsl(300, 24%, 96%);
    border-radius: 10px;
}

.rating-list li:nth-child(2) {
    margin-left: 30px;
}

.rating-list li:nth-child(3) {
    margin-left: 60px;
}

.rating-star {
    display: flex;
    width: 100px;
    height: 16px;
    margin-right: 20px;
    background: url("images/icon-star.svg");
    background-repeat: space;
}

.main-container--bottom {
    display: flex;
    justify-content: space-between;
    margin-top: 60px;
}

.card {
    display: flex;
    flex-direction: column;
    max-width: 350px;
    padding: 25px;
    background-color: hsl(300, 43%, 22%);
    color: hsl(0, 0%, 100%);
    border-radius: 10px;
}

.card:nth-child(1) {
    margin-bottom: 40px;
}
.card:nth-child(2) {
    margin: 20px 0 20px 20px;
}

.card:nth-child(3) {
    margin: 40px 0 0 20px;
}

.card--header {
    display: flex;
    align-items: center;
}

.card--header--right {
    margin-left: 15px;
}

.card--header--img {
    border-radius: 40px;
}

.card--header--name {
    font-size: .8em;
}

.card--header--status {
    font-size: .7em;
    color: hsla(333, 80%, 67%, 0.678);
}

.card--content {
    margin-top: 15px;
    font-size: .7em;
}

@media screen and (max-width: 800px) {
    body {
        align-items: unset;
    }    
}

@media screen and (max-width: 390px) {
    body {
        font-size: .9em;
        background: url("images/bg-pattern-top-mobile.svg") no-repeat, url("images/bg-pattern-bottom-mobile.svg") no-repeat right bottom;
    }

    .main-container {
        margin: 70px 25px;
    }
    .main-container--top {
        flex-direction: column;
        text-align: center;
    }

    .main-container--top--left {
        margin-bottom: 30px;
    }
    

    .main-container--top--left h1 {
        font-size: 2em;
    }

    .main-container--bottom {
        flex-direction: column;
        margin-top: 40px;
    }

    .rating-list li {
        width: unset;
        flex-direction: column;
        align-items: center;
    }
    
    .rating-list li:nth-child(2) {
        margin: 15px 0;
    }
    
    .rating-list li:nth-child(3) {
        margin: 0;
    }
    
    .rating-star {
        margin-bottom: 10px;
    }

    .card:nth-child(1) {
        margin: 0;
    }

    .card:nth-child(2) {
        margin: 15px 0;
    }

    .card:nth-child(3) {
        margin: 0;
    }
}

